body{
    background-color:rgb(17, 0, 255);
}
footer{
    background-color: skyblue;
}

.Titre {
    text-align: center;
    font-size: 120px ;
    font-weight: bold;
}

.custom1{
    margin-right: auto ;
}
.ident {
    margin: auto auto;
}

.texte {
    background-color: skyblue ;
}

.para_texte {
    object-position: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.BarreRecherche {
    margin-left: auto;
    margin-right: auto;

}

.logo {
    margin-left: auto;
    margin-right: auto;
}

 .search{
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}